---
name: tests

on:
  pull_request:
    branches: [main]

jobs:
  # for conform
  conformance:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - run: |
          git fetch origin +refs/heads/${{ github.event.pull_request.base.ref }}:refs/heads/${{ github.event.pull_request.base.ref }}

      - name: Conform
        uses: talos-systems/conform@master
        with:
          args: enforce --commit-ref=refs/heads/${{ github.event.pull_request.base.ref }}

  # for pre-commit
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.0

  unit-testing:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14

      - name: Install dependencies
        run: |
          go mod vendor
      - name: Run tests
        run: |
          go test -v -covermode=count -coverprofile=coverage.out ./...
      - name: Convert Go coverage to LCOV
        uses: jandelgado/gcov2lcov-action@v1.0.0
        with:
          infile: coverage.out
          outfile: coverage.lcov
      - name: CodeClimate
        uses: paambaati/codeclimate-action@v2.6.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CODECLIMATE }}
        with:
          coverageCommand: echo ""
          coverageLocations: ./coverage.lcov:lcov
